{%- capture section_settings -%}
{
  "videoType": {{ section.settings.video_url.type | json }},
  "videoId": {{ section.settings.video_url.id | json }},
  "requestHost": {{ request.host | json }}
}
{%- endcapture -%}

<section class="Section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="background-video" data-section-settings='{{ section_settings }}'>
  <div class="ImageHero {% if section.settings.section_size != 'normal' %}ImageHero--{{ section.settings.section_size }}{% endif %}">
    <div class="ImageHero__VideoHolder"></div>
    <div class="ImageHero__VideoContent">
     {%- if section.settings.subheading != blank -%}
      <h3 class="SectionHeader__SubHeading Heading u-h4">{{ section.settings.subheading | escape }}</h3>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
      <h2 class="SectionHeader__Heading Heading u-l-h1">{{ section.settings.title | escape }}</h2>
      {%- endif -%}

      {%- if section.settings.button_text != blank -%}
      <div class="SectionHeader__ButtonWrapper">
        <a href="{{ section.settings.button_link }}" class="Button Button--light">{{ section.settings.button_text | escape }}</a>
      </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Background video",
  "settings": [
    {
      "type": "paragraph",
      "content": "Background videos are automatically muted to allow autoplay. If you require audio, use the \"Featured Video\" section."
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "Section size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "video_url",
      "accept": ["youtube", "vimeo"],
      "id": "video_url",
      "label": "Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
	{
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Video title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tell your story"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "category": "Video",
      "name": "Background video",
      "settings": {}
    }
  ]
}
{% endschema %}